.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

!composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

/assets/upload/user/
/assets/upload/bukti_pembayaran/
assets/upload/gambar_user/415958188_17912114444862927_860594133452135649_n.jpg
assets/upload/gambar_user/apa_aja.jpg
assets/upload/gambar_user/avatar-1.png
assets/upload/gambar_user/Giveaway_Membership_JKT48_(1).png
assets/upload/gambar_user/miles.png
assets/upload/gambar_user/Screenshot_2024-05-11_015009_(1).png
assets/upload/gambar_user/Vestia_zeta_wallpaper.jpg
assets/upload/gambar_user/WhatsApp_Image_2024-04-25_at_20_30_39.jpeg
assets/upload/gambar_user/yeji.jpg
assets/upload/gambar_user/yeji2.jpg
assets/upload/mobil/ds.jpg
assets/upload/mobil/toyota-ae86-bev-concept.jpg

assets/upload/gambar_user/F4B9DnxakAA71mY.png
assets/upload/gambar_user/Vestia_Zeta_mascot_Bazo.png
